streamlit
pyowm
speechrecognition
langchain
pip
langchain-community
langsmith
openai
pydub
faiss-cpu
tiktoken
langchain-openai
langchain-core
weaviate-client
wikipedia  
duckduckgo-search
tavily-python