streamlit
pyowm==3.3.0
setuptools
wheel
langchain-community
google-search-results
speechrecognition
langchain
langsmith
openai
pydub
faiss-cpu
tiktoken
langchain-openai
weaviate-client
wikipedia
duckduckgo-search
tavily-python