streamlit
speechrecognition
langchain==0.1.14
langchain-community==0.0.29
pyowm==3.3.0
langsmith
openai
pydub
faiss-cpu
tiktoken
langchain-openai
langchain-core
weaviate-client
wikipedia  
duckduckgo-search
tavily-python
